.container{
    display: flex;
    justify-content: space-evenly;
  }

  .box{
    width: 500px;
    height: 110px;
    background-color: rgb(247, 247, 242);
    border-radius: 20px;
  }

  .box_history{
    width: 500px;
    height: 700px;
    background-color: rgb(247, 247, 242);
    border-radius: 20px;  
  }

  .space{
    margin:20px;
    width:auto;
  }